header {
  background-color: #ccc;
  padding: 10px;
}

#container {
  display: flex;
  flex-wrap: wrap;
}

main {
  margin: 0;
      padding: 0;
      display: flex;
}


#current {
  flex: 4;
  positionL relative;
  display: flex;
  flex flex-grow: 1;
}

.sidebar {
  background-color: bisque;
  width: 200px;
  padding: 20px;
  margin: 5px;
  border-radius: 7px;
  border: 3px solid #6912db;

}

.card-area {
  flex-grow: 1;
}

.card {
  border-radius: 7px;
  border: 3px solid #6912db;
  background-color: rgb(163, 240, 253);
  padding: 10px;
  margin: 5px;
}

.card h2 {
  display: none;
}

#inputBox {
  margin-bottom: 5px;
}

/* Remove bullet point from list */
#itemList {
  list-style-type: none;
  padding: 0;
}

/* Style list item */
#itemList li {
  background-color: bisque;
  color: black;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

/* Style list item on hover */
#itemList li:hover {
  background-color: black;
  color: white;
  border-radius: 3px;
}

/* Style list item when clicked */
#itemList li:active,
#itemList li.selected {
  background-color: black;
  color: white;
}
