body {
    font-family: sans-serif;
  }
  
  header {
    background-color: #ccc;
    padding: 10px;
  }
  
  .sidebar {
    width: 200px;
    float: left;
  }
  
  .card-area {
    width: 100%;
    margin-left: 200px;
  }
  
  .card {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .card h2 {
    margin-top: 0;
  }
  